<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <context-param>
        <param-name>DBPOOL_TYPE</param-name>
        <param-value>tomcat</param-value>
    </context-param>
    <context-param>
        <param-name>GROUP_SIZE</param-name>
        <param-value>8</param-value>
    </context-param>
    <context-param>
        <param-name>AllowType</param-name>
        <param-value>image/jpeg,image/png,image/gif</param-value>
    </context-param>
<!--    <welcome-file-list>-->
<!--        <welcome-file>/user</welcome-file>-->
<!--    </welcome-file-list>-->
    <listener>
        <listener-class>com.lsf.listener.ApplicationListener</listener-class>
    </listener>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.lsf.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>redirectURL</param-name>
            <param-value>/BMS/user</param-value>
        </init-param>
        <init-param>
            <param-name>sessionAttrName</param-name>
            <param-value>user</param-value>
        </init-param>
        <init-param>
            <param-name>sendMethod</param-name>
            <param-value>redirect</param-value>
        </init-param>
        <!--        <init-param>-->
        <!--            <param-name>Encoding</param-name>-->
        <!--            <param-value>UTF-8</param-value>-->
        <!--        </init-param>-->
        <init-param>
            <param-name>EnableGet</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.lsf.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.lsf.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidCodeServlet</servlet-name>
        <servlet-class>com.lsf.servlet.ValidCodeServlet</servlet-class>
        <init-param>
            <param-name>SessionAttrName</param-name>
            <param-value>code</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserAdminServlet</servlet-name>
        <servlet-class>com.lsf.servlet.UserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAdminServlet</servlet-name>
        <servlet-class>com.lsf.servlet.BookAdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ValidCodeServlet</servlet-name>
        <url-pattern>/code.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/modify.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdminServlet</servlet-name>
        <url-pattern>/userAdmin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAdminServlet</servlet-name>
        <url-pattern>/bookAdmin.do</url-pattern>
    </servlet-mapping>
</web-app>